*.vcxproj*
*.cmake
*.txt
*.sln
CMakeFiles
*.vs
ext
*.dir
Debug
x64
!CMakeLists.txt

#lab_07
?*.png
!help.png
image.gif
image.png

#lab_10
!calculations.png
mrBelka.txt
build

#Project
!fireball.png
!hero.png
!1.png
!2.png
!3.png
!4.png
!5.png
!6.png
!7.png




